@font-face {
	font-family: 'markdown';
	src:url('fonts/markdown.eot?-9rz235');
	src:url('fonts/markdown.eot?#iefix-9rz235') format('embedded-opentype'),
		url('fonts/markdown.woff?-9rz235') format('woff'),
		url('fonts/markdown.ttf?-9rz235') format('truetype'),
		url('fonts/markdown.svg?-9rz235#markdown') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="markdown-icon-"], [class*=" markdown-icon-"] {
	font-family: 'markdown';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.markdown-icon-image:before {
	content: "\e600";
}
.markdown-icon-undo:before {
	content: "\e601";
}
.markdown-icon-redo:before {
	content: "\e602";
}
.markdown-icon-quotes-left:before {
	content: "\e603";
}
.markdown-icon-list:before {
	content: "\e604";
}
.markdown-icon-numbered-list:before {
	content: "\e605";
}
.markdown-icon-link:before {
	content: "\e606";
}
.markdown-icon-notification:before {
	content: "\e607";
}
.markdown-icon-question:before {
	content: "\e608";
}
.markdown-icon-font:before {
	content: "\e609";
}
.markdown-icon-bold:before {
	content: "\e60a";
}
.markdown-icon-italic:before {
	content: "\e60b";
}
.markdown-icon-insert-template:before {
	content: "\e60c";
}
.markdown-icon-code:before {
	content: "\e60d";
}

.wmd-preview p > code {
	padding: 3px 4px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	-moz-border-radius: 4px / 4px;
	-webkit-border-radius: 4px 4px;
	border-radius: 4px / 4px;
}

.wmd-preview > blockquote {
	padding: 0 0 0 16px;
	margin: 0 0 16px;
	border-left: 5px solid #002b36;
}

.wmd-preview > h2 {
	margin: 5px 0 20px 0;
	font-size: 2.5em;
	font-family: "Helvetica Neue";
	text-decoration: underline;
	color: #839496;
}

.wmd-button-bar {
	width: 100%;
}

.wmd-button-bar > .wmd-button-row {
	height: 32px;
	display: flex;
	align-items: center;
}

.wmd-button-bar > .wmd-button-row > .wmd-button {
	width: 24px;
	height: 16px;
	color: #839496;
}

.wmd-button-bar > .wmd-button-row > .wmd-button > a {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-right: 5px;
	position: absolute;
	display: inline-block;
}

.wmd-button-bar > .wmd-button-row > .wmd-spacer {
	width: 1px;
	height: 20px;
	margin: 0 8px;
	background-color: #839496;
}

.wmd-prompt-background {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	opacity: 0.5;
	background-color: black;
}

.wmd-prompt-dialog {
	position: fixed;
	top: 35%;
	left: 40%;
	z-index: 1001;
	padding: 16px;
	-moz-border-radius: 5px / 5px;
	-webkit-border-radius: 5px 5px;
	border-radius: 5px / 5px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
	background-color: #073642;
}

.wmd-prompt-dialog > div {
	text-align: center;
}

.wmd-prompt-dialog > form {
	padding: 0;
	margin: 0;
	text-align: center;
}

.wmd-prompt-dialog > form input[type="button"] {
	padding: 8px;
	margin: 8px;
	width: 24%;
}

.wmd-prompt-dialog > form input[type="text"] {
	margin: auto;
	width: 80%;
}

textarea {
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background: #002b36;
	color: #839496;
	padding: 1em;
	font-size: 14px;
	overflow: hidden;
	outline: none;
	resize: none !important;
	word-wrap: break-word;
	-moz-transition-duration: 50ms;
	-o-transition-duration: 50ms;
	-webkit-transition-duration: 50ms;
	transition-duration: 50ms;
}

textarea:focus {
	border-color: #859900;
}
